* {
    font-family: 'Newsreader', serif;
}

a,
a:hover {
    text-decoration: none !important;
    color: inherit !important;
}

.fatag i:hover {
    color: #ff0932;
}

.title {
    color: rgb(6, 136, 64);
}

.nav-link:hover {
    color: #ff0932 !important;
}

/* ************************************************************************* */
.carousel-item img {
    height: 85vh;
}

.function {
    background: #8e9eab;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.info,
.foot,
.header {
    background: #abbaab;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffffff, #abbaab);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff, #abbaab);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.info2 {
    background: #8e9eab;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.info2inner {
    border: 15px groove #ffffff86;
    background-color: #fff;
}

.info2tag {
    color: #003b88 !important;
}

.info2tag:hover {
    color: rgb(148, 28, 28) !important;
    /* font-weight: bold; */
}